<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="CuerosCol" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))              (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = xe))); PASSWORD=CUEROSCOL; USER ID=CUEROSCOL" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>
